
.container {
  padding: 20px;
}
.lista-principal {
  border-left: 2px solid $c-black;
  padding: 0;
  width: auto;

  .list-children {
    border-left: 2px solid $c-black;
  }
  
  .children {
      padding: 0 15px;
      position: relative;
      margin-bottom: 10px;
      &::before {
        content: "";
        width: 15px;
        height: 2px;
        background-color: $c-black;
        position: absolute;
        left: 0;
        top: 8px;
      }
    &:hover {
      background-color: $c-blue;
      cursor: pointer;
    }
  }
  .active {
    background-color: $c-blue;
  }
}